body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}
.card{
    margin: 10px 0 ;
}
.card-body{
    background-color: aqua!important;
    color:black !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}
.sticky-top{
    margin: 30px;
    align-items: center;
    justify-content: center;
    background-color:blue;
    color: aliceblue;
    height: 20px;
    padding:20px;
}
.row{
    margin:30px;
}